<% @my_photos.each do |t| %>
    <div class="col-sm-4 col-md-2">
      <div class="thumbnail">
        <%= image_tag t.images.low_resolution.url %>
        <div class="caption">
          <h6><i>
            <%= "Tilhører: " + t.user.full_name%>
          </i></h6>
        </div>
      </div>
    </div>
<% end %>
