<div class="container">
  <h1><strong>Forskjellige funksjoner</strong></h1>
  <h2><strong>Login</strong></h2>
  <p>For å logge inn, må man ha en registrert bruker hos "Thangs GYM". Man kan logge inn via bruker herfra, eller logge
    inn via facebook. For at du skal logge inn raskest mulig, er det best å koble deg til via facebook, dette gjøres ved
    å trykke på knappen "Connect via facebook". Man må også ha en bruker på Thangs GYM for å gjøre dette. Når "Connect via facebook"
    blir trykt på, vil den autentisere deg med din innloggede facebook bruker, dermed får du et spørsmål om du vil koble facebook konto
    til brukerkonto hos Thang GYM. Velger du å gjøre dette, vil programmet huske at din facebook konto og din bruker konto er koblet,
    så du slipper å skrive brukernavn neste gang du logger deg inn via facebook. Du skriver kun da passord. Dette gjøres ved å hente en facebook id og
    lagre den som en bruker id i "user-databasen". Uten noen som helst form for cookies, rett fra database.</p>
  <h2><strong>Registrering av bruker</strong></h2>
  <p>Du må oppgi en gyldig epostadresse, samt. gyldig passord. Etter at du har registrert deg, vil du få en velkomstmail fra meg.
    Det går ikke ann å oppgi en epost/brukernavn som allerede er registrert. Dette hånderes ved å sjekke user-databsen.</p>
  <h2><strong>Glemt passord</strong></h2>
  <p>Dersom du har glemt ditt passord, vil du få muligheten ved å gjenopprette det ved å trykke på "Glemt passord"-knappen
    ved innlogginssiden. Du oppgir da din epost, så vil det bli sendt en epost til den adressen du oppga med midlertidlig
    passord som du kan bruke til å logge inn. Dette passordet er en random streng som programmet genererer. Ingen er like.</p>
  <h2><strong>Fjern tilkobling og logg av facebook</strong></h2>
  <p>Dersom denne facebook kontoen ikke er deg, kan du logge av den ved å trykke "logg av facebook". Hvis du vil fjerne
    tilkoblingen mellom brukerkonto og facebook konto, kan du trykke på "Fjern tilkoblingen". Denne funksjonen vil da
    slette din facebook id i user-databasen(table).</p>
  <h2><strong>Footeren</strong></h2>
  <p>Hele footeren kan hvem som helst se, om man er logget inn eller ikke(unntatt admin knappen)</p>
  <h2><strong>Navbaren</strong></h2>
  <p>Man må være innlogget for å kunne bruke de forskjellige knappene navbaren har,dette er fordi jeg kjører et filter
    som sjekker om man er innlogget eller ikke før alt skjer.</p>
  <h2><strong>Hjem</strong></h2>
  <h2><strong>Profil</strong></h2>
  <h2><strong>Innstillinger</strong></h2>
  <h2><strong>Treningsprogrammer</strong></h2>
  <h2><strong>Bilde dagbok</strong></h2>
  <h2><strong>Gruppe trening</strong></h2>
  <h2><strong>BMI kalkulator</strong></h2>
  <h2><strong>Min handlekurv</strong></h2>
  <h2><strong>Status</strong></h2>
  <h2><strong>Kontakt meg</strong></h2>
  <h2><strong>Legg igjen en tilbakemelding</strong></h2>
  <h2><strong>Kalender</strong></h2>
  <h2><strong>Admin funksjoner</strong></h2>
</div>