
<!-- Page Content -->
<div class="container">

  <!-- Introduction Row -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Om meg<small><i> Dette er Thang!</i></small></h1>
      <p>Ruby on Rails var et fag som var veldig vanskelig for meg å skjønne. Når jeg startet på det nye semesteret,
        var dette faget det kjedeligste, og mest kompliserte faget jeg noen gang har vært borte i. Etter å ha lagt mye
        arbeid i dette faget, ble min instilling til faget HELT annerledes! Fra å være det mest vanskeligste og kjedeligste faget,
        til å bli det beste og morsomste faget jeg har hatt noen gang! Jeg var demotivert til å dra på forelesninger fordi jeg følte
        alltid at jeg lå flere kapitler bak. Målet mitt var kun å stå i faget, men ettersom jeg har brukt min fritid på å lære hvordan
        ting fungerer i et rails prosjekt, har dette forandret mitt mål. Målet er ikke lengre å stå i faget, men heller levere
        et så godt produkt at foreleser og sensor ser på meg som en "verdig" rails-utvikler. Alt i alt, er dette et fag jeg har
        hatt alt for mye læring av. Å lage denne applikasjonen/nettsiden har følt som å spille et spill, veien har vært hard,
        men resultatet jeg har klart å komme med vil jeg si er imponerende, dette visste jeg ikke selv at jeg hadde i meg. </p>
        <p>Det at tema for denne nettsiden er trening, er pga. jeg personlig er opptatt av trening og velvære.
          Det kunne ikke vært noe annet enn dette. Jeg synes at alle burde få litt mosjon i kroppen uansett hvilken bakgrunn
          man har fra før, om man er tjukk eller tynn, jobber med IT eller ikke, spiller ingen rolle. Man føler seg frisk og
          pplagt og man gjør sine hverdagsmål bedre med trening/mosjon enn uten.</p>
    </div>
  </div>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Mitt lag</h2>
    </div>
    <div class="col-lg-4 col-sm-6">
      <img class="img-circle img-responsive img-center" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/394786_10150466570071256_1177554464_n.jpg?oh=a613c2cd55e6e79e2e8d0c86b3da4580&oe=57E44389" width="200" height="200" alt="">
      <h3>Thang Phan<small><i> Front-end utvikler</i></small></h3>
      <p>Bootstrap er en meget fin ting!</p>
    </div>
    <div class="col-lg-4 col-sm-6">
      <img class="img-circle img-responsive img-center" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/394786_10150466570071256_1177554464_n.jpg?oh=a613c2cd55e6e79e2e8d0c86b3da4580&oe=57E44389" width="200" height="200" alt="">
      <h3>Thang Phan<small><i> Back-end utvikler</i></small></h3>
      <p>I denne nettsiden er det mye logikk bak, her styrer jeg alt av ingenting -> databaser!</p>
    </div>
    <div class="col-lg-4 col-sm-6">
      <img class="img-circle img-responsive img-center" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/394786_10150466570071256_1177554464_n.jpg?oh=a613c2cd55e6e79e2e8d0c86b3da4580&oe=57E44389" width="200" height="200" alt="">
      <h3>Thang Phan<small><i> Testing</i></small></h3>
      <p>Underveis blir siden testet for bugs. Jeg laster opp til heroku og sjekker om alt stemmer.</p>
    </div>
    <div class="col-lg-4 col-sm-6">
      <img class="img-circle img-responsive img-center" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/394786_10150466570071256_1177554464_n.jpg?oh=a613c2cd55e6e79e2e8d0c86b3da4580&oe=57E44389" width="200" height="200" alt="">
      <h3>Thang Phan<small><i> Dokumentasjon</i></small></h3>
      <p>Prøver så godt jeg kan å dokumentere hele veien, men noen ganger kan det gå litt fort.</p>
    </div>
    <div class="col-lg-4 col-sm-6">
      <img class="img-circle img-responsive img-center" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/394786_10150466570071256_1177554464_n.jpg?oh=a613c2cd55e6e79e2e8d0c86b3da4580&oe=57E44389" width="200" height="200" alt="">
      <h3>Thang Phan<small><i> Design</i></small></h3>
      <p>Et enkelt og fint design. Denne nettsiden er designet av meg, brukt mye bootstrap!</p>
    </div>
    <div class="col-lg-4 col-sm-6">
      <img class="img-circle img-responsive img-center" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/394786_10150466570071256_1177554464_n.jpg?oh=a613c2cd55e6e79e2e8d0c86b3da4580&oe=57E44389" width="200" height="200" alt="">
      <h3>Thang Phan<small><i> Sjef</i></small></h3>
      <p>Jeg er min egen sjef. Jeg har sjefet over meg selv.</p>
    </div>
  </div>



</div>