<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <p> Name: <%= @inputname %></p>
    <p> Email: <%= @inputemail %></p>
    <p></p>
    <p> Message: <%= @inputmessage %></p>
</body>
</html>